@import "mocha.css";
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: @peach;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: @red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @base;
  color: white;
  font-family: Victor Mono Nerd;
  font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  color: @green;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

#battery.warning.discharging {
  color: @yellow;
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  color: @red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  color: @sky;
  font-weight: bold;
}

#clock.time {
  color: @blue;
}

#cpu {
  color: @yellow;
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @red;
}

#memory {
  color: @pink;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #64727d;
  border-top: 2px solid white;
  padding-bottom: 2px;
}

#network {
  color: @red;
}

#network.disconnected {
  color: @yellow;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio.muted {
  color: @red;
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: @red;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
}

#workspaces button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: @text;
}

#workspaces button.focused {
  color: blue;
  background-color: @sky;
}

#workspaces button.active {
  background-color: @blue;
  color: @crust;
}

#workspaces button.urgent {
  color: @crust;
  background-color: @red;
}

window#waybar {
  background-color: alpha(@base, 0.3);
  border: 2px solid alpha(@crust, 0.3);
}
